:root {
  --color-1: #ffe8d2;
  --color-1-o: #ffe8d290;
  --color-2: #bea282;
  --color-2-o: #bea28250;
  --color-3: #65775b;
  --color-3-o: #65775b50;
  --color-4: #455339;
  --color-4-o: #45533950;
  --color-5: #e48153;
  --color-5-o: #e4815350;
  --color-6: #8e3910;
  --color-6-o: #8e391050;


  --harvest-1 : #8E7C68;
  --harvest-2 : #ED7458;
  --harvest-3 : #FFDC9F;
  --harvest-4 : #DDC9BC;
  --harvest-5: #2e7d3b;
  --harvest-5-o: #2e7d3b50;
  --harvest-2-o : #ed735850;
  --harvest-3-o : #ffdc9f50;
}

/* RESET CSS http://meyerweb.com/eric/tools/css/reset/ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* TIMELINE */
@font-face {
  font-family: 'Seasons_bold_italic';
  src: url("font/The_Seasons_Bold_Italic.ttf") format("truetype");
}
@font-face {
  font-family: 'Seasons_bold';
  src: url("font/The_Seasons_Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Joseph_sophia';
  src: url("font/josephsophia.ttf") format("truetype");
  src: url("font/josephsophia.otf") format("opentype");
}
@font-face {
  font-family: 'Mirage';
  src: url("font/Mirage_Regular.otf") format("opentype");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
h2{
  font-size: 6rem;
  color: var(--color-4);
  /*font-family: 'Seasons_bold_italic';*/
  font-family: 'Joseph_Sophia';
}
h3 {
  font-size: 4rem;
  color: var(--color-4);
  /*font-family: 'Seasons_bold_italic';*/
  font-family: 'Joseph_Sophia';
}
h4 {
  font-size: 3rem;
  color: var(--color-3);
  /*font-family: 'Seasons_bold_italic';*/
  font-family: 'Joseph_Sophia';
}
h5 {
  font-size: 2rem;
  color: var(--color-3);
  /*font-family: 'Seasons_bold_italic';*/
  font-family: 'Joseph_Sophia';
}
body {
  font-size: 20px;
  font-family: 'Mirage',sans-serif;
  background-color: #ffffe6;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* .section SECTION
 */

.section {
  padding: 50px 0;
}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}


/* TIMELINE
 */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: var(--color-6);
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--color-5);
}

.timeline ol li div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: var(--color-1);
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: var(--color-1) transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent var(--color-1);
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: 'Seasons_bold';
}


/* TIMELINE ARROWS
 */

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}


/* GENERAL MEDIA QUERIES
 */
@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto; 
  }
  
  .timeline ol {
    padding: 0;
    transform: none !important;
  }
  
  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
    text-align: center;
  }
  
  .timeline ol li:first-child {
    margin-top: 25px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  
  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }
  
  .timeline ol li div {
    position: static;
  }
  
  .timeline ol li:nth-child(odd) div {
    transform: none;
  }
  
  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }
  
  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}


/* END TIMELINE */

/* CAROUSEL */

.carousel {
  position: relative;
  width: 50%;
  height: 300px; 
  margin: 0 auto;
}

.carousel-content {
  position: relative;
  overflow: hidden;
  transition: width .4s;
  height: 100%;
}

.slide {
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: left .4s cubic-bezier(.47,.13,.15,.89);
}

.nav {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-color: rgba(150,150,150,.3);
  width: 20px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  -webkit-user-select: none;
}

.nav-left {
  left: -45px;
}

.nav-right {
  right: -25px;
}

.carousel-arrow-icon-left {
  margin-left: 5px;
  margin-top: 2px;
}

.carousel-arrow-icon-right {
  margin-left: 7px;
  margin-top: 2px;
}

/* */

section{
    min-height: 100vh;
}
.divider{
  display: flex;
  justify-content: center;
  align-items: center;
    /*border: 1px solid black;*/
}
.divider .large-img{
  width: 30vw;
}
.divider img{
  padding: 20px;
  width: 20vw;
}
@media screen and (max-width:767px) {
  .divider .large-img{
    width: 80vw;
  }
  .divider img{
    width: 60vw;
  }
}

 /* ACCEUIL */

#acceuil > div{
    height: calc(100vh - 48px);
    background: url(/img/acceuil-m.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 10vh 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#acceuil > div:after{
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 48px);
  z-index: 0;
  background-color: var(--color-5-o);
}
#acceuil {
    text-align: center;
}
#home-img{
  max-height: 100%;
  max-width: 100%;
  z-index: 1;
}
.t-divider {
    font-family: sans-serif;
    margin: 100px auto;
    text-align: center;
    max-width: 80vw;
    position: relative;
  }
  
.t-divider:before {
    content: "";
    display: block;
    width: 25vw;
    height: 2px;
    background: #000;
    left: 0;
    top: 50%;
    position: absolute;
  }
  
.t-divider:after {
    content: "";
    display: block;
    width: 25vw;
    height: 2px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
  }
/* NAV */
nav{
    height: 48px;
}
nav ul{
    /*flex-direction: row;
    justify-content: space-around;
    align-items: center;*/
    list-style: none;
    z-index: 10;
}
nav ul li{
  padding: 16px 0;
  width: calc(100vw / 7);
  height: min-content;
  background-color: #ffffe6;
  color: var(--color-6) !important;
}
nav ul li:hover{
    background-color: var(--color-6);
    color: #ffffe6 !important;
}
nav a {
    text-decoration: none;
    color: currentColor;
}
#nav-toggle {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
}
span.icon-bar {
    position: absolute;
    right: 12px;
    display: block;
    width: 26px;
    height: 2px;
    background-color: black;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.icon-bar:nth-child(1) {
    top: 17px;
}

.icon-bar:nth-child(2) {
    top: 24px;
}

.icon-bar:nth-child(3) {
    top: 31px;
}
#nav-toggle.active .icon-bar:nth-child(1) {
    top: 24px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-toggle.active .icon-bar:nth-child(2) {
    width: 0;
}

#nav-toggle.active .icon-bar:nth-child(3) {
    top: 24px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media screen and (max-width:767px) {
    #nav-toggle {
        display: block !important;
        z-index: 11;
        background-color: #ffffe6;
        color: var(--color-6);
    }
    #acceuil > div{
        height: 100vh;
    }
    #acceuil > div:after{
      height: 100vh;
    }
    nav ul{
        display: none;
    }
    nav ul.active{
        display: flex !important;
        flex-direction: column;
        justify-content: start;
        position: fixed;
        top: 0;
        right: 0;
        padding-top: 50px;
        width: 100%;
        background-color: #ffffe6;
    }
    ul li{
        width: 100% !important;
    }
}
@media screen and (min-width:767px) {
    nav ul{
        display: flex !important;
    }
}
/* Intro */ 

#intro, #mariage{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem;
}
#mariage{
  padding-bottom: 0;
  overflow-x: hidden;
}
#mariage > div:not(:last-child){
  max-width: 60vw;
}
@media screen and (max-width:767px) {
  #mariage > div:not(:last-child){
    max-width: 100vw;
  }
  #ma
}
#french {
  padding: 30px;
  max-width: 50vw;
}
.large{
  padding: 20px;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.right{
  text-align: right;
}
#french img{
  width: 200px;
}
.border {
  position: relative;
  padding: 9px;
  border: 0 solid blue;
}
.border:after, 
.border:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content:'';
}
.border:after {
border: 0 solid white;
}

.border:before {
border: 0 solid red;
}

.border.top, 
.border.top:after,
.border.top:before {
border-top-width: 3px;
}
.border.bottom, 
.border.bottom:after,
.border.bottom:before {
border-bottom-width: 3px;
}
.border.side, 
.border.side:after,
.border.side:before {
border-right-width: 3px;
border-left-width: 3px;
}

.border.top:before {
top: 3px;
}
.border.bottom:before {
bottom: 3px;
}
.border.side:before {
left: 3px;
right: 3px;
}

/* Histoire */

#story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/img/ble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
}
#story:after{
  position: absolute;
  content: " ";
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  /*background-color: var(--color-6-o);*/
}
#story *{
  z-index: 1;
}
/* Tï¿½moin */

#temoin{
  padding: 5rem 10vw;
}
#temoin h3{
    text-align: center;
    padding: 3rem;
}
.temoin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.temoin:nth-child(2n+1){
    flex-direction: row-reverse;
}
.temoin img{
    width: 25vw;
    border-radius: 50%;
    border: 5px solid var(--color-6);
}
.temoin:nth-child(2n+1) img{
  border: 5px solid var(--color-4);
}
.temoin .card{
    height: 100%;
    width: 40vw;
    border: 3px solid var(--color-6);
    border-radius: 25px;
    padding: 3%;
    color: var(--color-6) !important;
}
.temoin:nth-child(2n+1) .card{
  border-color: var(--color-4);
  color: var(--color-4) !important;
}
.card p {
  padding: 3px;
}
.bold{
    font-weight: bold;
}

@media screen and (max-width:767px) {
  .temoin, .temoin:nth-child(2n+1){
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .temoin > *{
    margin-bottom: 1rem;
  }
  .temoin img{
    width: 75vw;
  }
  .temoin .card{
    width: 85vw;
}
}
/* Galerie */

#gallery{
    background-image: url(/img/t&L.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
}

#gallery div{
    width: 40%;
    margin: 0 51vw 0 1vw;
    padding: 5%;
    background-color: #fff;
}

@media screen and (max-width:767px) {
    #intro, #mariage{
      padding: 20px;
    }
    #mariage{
      padding-bottom: 0;
    }
    #french{
      max-width: 95vw;
    }
    #gallery div {
        width: 100%;
        margin: 10%;
    }
}

#partenaires{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(/img/foret.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
}
#partenaires > div{
  background-color: var(--color-1-o);
  width: fit-content;
  padding: 3rem;
  border-radius: 25px;
}
@media screen and (max-width:767px) {
  #partenaires > div{
    padding: 2rem 0;
    margin: 0.5rem;
  }
}
#partenaires > div > p{
  text-align: center;
  max-width: 50%;
  margin: auto;
}
#partenaires > div > *{
  padding-bottom: 2rem;
}
#partenaires img{
    max-width: 180px;
    max-height: 200px;
}
.slide-2 img, .slide-4 img{
    background-color: #000;
}
.slide{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#modal{
    display: none;
}
#small-soiree{
  display: none;
  background-image: url(/img/small-party2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  overflow:hidden;
  height: 39vw;
}
#soiree{
  background-image: url(/img/party.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  overflow:hidden;
  height: 17vw;
  color: var(--color-1);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 3vw;
}
@media screen and (max-width:1000px) {
  #soiree{
    background-image: url(/img/small-party.png);
    height: 39vw;
  }
}
@media screen and (max-width:767px) {
  #small-soiree{
    display: block;
  }
  #soiree{
    background-color: #000;
    height: auto;
    padding: 2rem 5rem;
  }
}

.logo{
  height: 100px;
}

#info-gps-eglise, #info-gps-salle, #eglise, #salle{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--color-2-o);
  max-height: 100vh;
  z-index: 1000;
}
#info-gps-eglise.active, #info-gps-salle.active, #salle.active, #eglise.active{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  padding: 5rem;
}
#info-gps-eglise > div, #info-gps-salle > div, #eglise > div, #salle > div{
  background-color: var(--color-1);
  border: 2px solid var(--color-6);
  position: relative;
  padding: 3rem;
  border-radius: 25px;
}
#eglise img, #salle img{
  max-height: 70vh;
  max-width: 70vw;
}
#info-gps-eglise > div, #info-gps-salle > div{
  padding: 6rem;
}
#info-gps-eglise a, #info-gps-salle a{
  width: 80%;
}
.photo-timeline{
  max-width: 250px;
  max-height: 125px;
}
@media screen and (max-width:767px) {
  #info-gps-eglise.active, #info-gps-salle.active, #salle.active, #eglise.active{
    padding: 0.5rem;
  }
  #info-gps-eglise > div, #info-gps-salle > div{
    padding: 4rem 2rem;
  }
}
/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: var(--color-6);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,var(--harvest-3) 0 -3px 0 inset;
  box-sizing: border-box;
  color: var(--color-1);
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  margin: 5px 15px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.button-30:focus {
  box-shadow: var(--color-1) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--color-1) 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--color-1) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: var(--color-1) 0 3px 7px inset;
  transform: translateY(2px);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

body.modal{
  overflow-y: hidden;
}

#rose{
  position: relative;
  bottom: 0;
  left: 0;
}